div,p,h1{
    background-color: tomato;
    /* font-size: 20px; */
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.pic2{
    background-color: aqua;
    color: red;
    font-size: 33px;
    border-radius: 15%;
}